
.sort-options--hidden {
  display: none;
}

.sort-options {
  margin-right: 0px;
  margin-left: auto;
  margin-bottom: 15px;
  padding: 5px;
  color: rgb(168, 168, 168);
  background-color: #0a151d;
  border: 1px solid;
  border-radius: 7px;
  outline: none;
}

.workout__btns {
  display: flex;
  flex-direction: row;
  gap: 10px;
  grid-column: 1 / -1;
}

.workout-btn {
  margin: 5px 0 7px;
  padding: 7px 15px;
  border: 1px solid;
  border-color: #fff;
  border-radius: 7px;
  color: #fff;
  background: #3f464d;
}

.workout__delete-all-btn {
  min-width: 100px;
}

input {
  background-color: transparent;
  border: 0px solid;
  height: 20px;
  width: 160px;
}

