.workout__btns {
    display: flex;
    /* flex-direction: row; */
    gap: 10px;
}

.workout-btn {
    margin: 5px 0 7px;
    padding: 7px 15px;
    border: 1px solid;
    border-color: #fff;
    border-radius: 7px;
    color: #fff;
    background: #3f464d;
}
